<app-landing></app-landing>
<div class="container">
  <mat-card>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo lectus, tincidunt ut mollis malesuada,
      malesuada ut nibh. Maecenas elit augue, pharetra vel purus vitae, faucibus rhoncus felis. Quisque volutpat
      placerat
      diam eget porttitor. Integer et eros eget tortor faucibus eleifend vitae et eros. In auctor ultrices congue.</p>
    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer at felis eget diam luctus ultricies. Fusce
      efficitur diam nec sapien dignissim egestas eget at mauris. Ut eget ligula feugiat, ultrices turpis eget, maximus
      purus. Sed ut eros porta, gravida lacus commodo, consectetur ipsum. Praesent eget sapien sit amet ipsum
      ullamcorper
      tempus nec vel sapien. Nam eget neque rhoncus, venenatis tortor ut, iaculis ligula.</p>
    <p>Curabitur rhoncus neque sed sem fringilla, a auctor lorem blandit. Curabitur finibus, lacus mollis ultrices
      viverra, lorem ante euismod mauris, nec lacinia mi massa sit amet magna.</p>
  </mat-card>
</div>
