.container {
  background: #E3D0E9;
  display: flex;
  float: right;
  justify-content: flex-end;
  width: 100%;

  button {
    background: #FADDBE;
    color: #828282;
    font-size: 16px;
    margin: 10px 10px 10px;
  }
}
