.container {
  mat-card {
    border-radius: 10px;
    position: absolute;
    top: 20%;
    width: calc(50% - 40px);
    right: 0;
    margin: 0 20px;
  }
}

.form {
}

.input-full-width {
  padding: 60px 50px 15px;
  width: 100%;

  &:last-of-type {
    padding: 15px 50px 60px;
  }
}


